.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.project-skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.project-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 800px) {
    .project-container {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }

    .project-container img {
        max-width: 40%;
    }

    .project-skills {
        justify-content: flex-start;
    }
}
